* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;

}

form {
    border: white 1px solid;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.formIndex {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJq6TzUXhcocgMYwP75FLtHajtoPn9hVt2BUJLkfpstJVCsXRYpQ&s");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: stretch;

}

.card {
    background-color: grey;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}